<%- include('includes/header') %>

  <section class="container">
    <h1>
      <%= umaVariavelLocal %>
    </h1>

    <%# numeros.forEach(num=> { %>
      <%# num %>
        <%#}); %>

          <%# if(typeof titulo !=='undefined' ) {%>
            <%# titulo %>
              <%#} else { %>
                <%#O título não foi enviado.%>
                  <%#} %>

                    <form action="/" method="post">
                      <label>Cliente</label>
                      <input type="text" name="cliente">
                      <button>Submit</button>
                    </form>
  </section>

  <%- include('includes/footer') %>